* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #eeeeee;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 90%;
    /* border: 1px solid red; */
    margin: auto auto;
}

input {
    height: 120px;
    font-size: 2rem;
    width: 80%;
    padding-left: 10%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.add {
    width: 20%;
    cursor: pointer;
    background: green;
    color: white;
    font-weight: bold;
    border: none;
    height: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

main {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    /* border: 1px solid blue; */
    padding-top: 40px;
}

.item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 2%;
    cursor: pointer;
}

.item-icone {
    flex: 20%;
    /* border: 1px solid orangered; */
    text-align: center;
    font-size: 2rem;
}

.item-nome {
    flex: 55%;
    /* border: 1px solid deeppink; */
    font-size: 20px;
    font-weight: bold;
}

button {
    background: red;
    border: none;
    color: white;
    padding: 10px;
    height: 80px;
    width: 100%;
    cursor: pointer;
}

.item-botao {
    flex: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
    background: red;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    padding: 10px;
    height: 80px;
    width: 100%;
    cursor: pointer;
}

.fa-solid.fa-circle-check {
    color: green;
}

.item.clicado {
    background: #d4f6d9;
}

.item.clicado .item-nome {
    text-decoration: line-through;
    color: gray;
}